# Импорт необходимых библиотек

In [2]:
import pandas as pd
import requests

# Загрузка данных

In [4]:
public_url = 'https://disk.yandex.ru/i/eEXdJhCC8gy27A'
api_url = 'https://cloud-api.yandex.net/v1/disk/public/resources/download?'
params = {'public_key':public_url}
response = requests.get(api_url, params=params)
response.raise_for_status()
download_url = response.json()['href']

In [5]:
dynamic = pd.read_excel(download_url, sheet_name=0)
dynamic.head()

          Бренд      Месяц  Продажи  Рейтинг  Отзывы
0  188cosmetics 2023-12-01     5844      4.8     255
1  188cosmetics 2023-11-01     4423      4.8     284
2  188cosmetics 2023-10-01     3093      4.6     104
3  188cosmetics 2023-09-01     3399      4.6     115
4  188cosmetics 2023-08-01     3685      4.5     124

In [6]:
products = pd.read_excel(download_url, sheet_name=1)
products.head()

,SKU,Категория,Предмет,Бренд,Продажи (Декабрь),Продажи (Ноябрь),Страна,Дата появления карточки,Кол-во фото,Видео,Рейтинг (Декабрь),Рейтинг (Ноябрь),Отзывы (Декабрь),Отзывы (Ноябрь)
0,13856867,Уход за кожей,Скрабы,The Act express recovery,109619,110053,Россия,2021-07-31,7,1,4.7,5.0,4766,5163
1,46825817,Уход за кожей,Кремы,EpilProfi,48308,48946,Россия,2022-11-24,9,1,4.8,5.0,2100,2296
2,51524888,Профессиональная косметика,Гели для бровей,PUSY,40756,39432,Россия,2023-01-06,9,1,4.6,4.3,1772,1823
3,56236410,Средства личной гигиены,Влажные салфетки,FRESHLAND,50150,44773,Россия,2023-01-13,8,1,4.9,4.6,2180,2134
4,16898570,Макияж,Туши,LUXVISAGE,64598,71601,Беларусь,2022-08-02,9,1,4.7,5.0,2809,3350

# Проверка чистоты данных

Данные будут подготавливаться на стороне BI системы, поэтому в данном блоке проведем основной sanity check

#### Проверка на пропуски

In [5]:
dynamic.isna().sum()

Бренд      0
Месяц      0
Продажи    0
Рейтинг    0
Отзывы     0
dtype: int64

In [6]:
products.isna().sum()
# Есть пропуски в столбце рейтинга за ноябрь

SKU                           0
Категория                     0
Предмет                       0
Бренд                         0
Продажи (Декабрь)             0
Продажи (Ноябрь)              0
Страна                        0
Дата появления карточки       0
Кол-во фото                   0
Видео                         0
Рейтинг (Декабрь)             0
Рейтинг (Ноябрь)            617
Отзывы (Декабрь)              0
Отзывы (Ноябрь)               0
dtype: int64

#### Проверка на дубликаты

In [7]:
dynamic[dynamic.duplicated()]

Empty DataFrame
Columns: [Бренд, Месяц, Продажи, Рейтинг, Отзывы]
Index: []

In [8]:
products[products.duplicated()]

Empty DataFrame
Columns: [SKU, Категория, Предмет, Бренд, Продажи (Декабрь), Продажи (Ноябрь), Страна, Дата появления карточки , Кол-во фото, Видео, Рейтинг (Декабрь), Рейтинг (Ноябрь), Отзывы (Декабрь), Отзывы (Ноябрь)]
Index: []

#### Общий обзор данных

In [9]:
dynamic.describe()

                     Месяц        Продажи      Рейтинг        Отзывы
count                 6000    6000.000000  6000.000000   6000.000000
mean   2023-09-15 20:00:00   18048.205333     4.381133    686.079167
min    2023-07-01 00:00:00     780.000000     3.300000     27.000000
25%    2023-08-01 00:00:00    4250.750000     4.200000    161.000000
50%    2023-09-16 00:00:00    6898.500000     4.400000    259.000000
75%    2023-11-01 00:00:00   14955.500000     4.500000    570.000000
max    2023-12-01 00:00:00  545259.000000     5.000000  24876.000000
std                    NaN   40974.518357     0.224935   1610.533021

In [10]:
products.describe()

,SKU,Продажи (Декабрь),Продажи (Ноябрь),Дата появления карточки,Кол-во фото,Видео,Рейтинг (Декабрь),Рейтинг (Ноябрь),Отзывы (Декабрь),Отзывы (Ноябрь)
count,9.133200e+04,91332.000000,91332.000000,91332,91332.000000,91332.000000,91332.000000,90715.000000,91332.000000,91332.000000
mean,5.218809e+07,232.286975,225.419382,2022-07-26 19:23:47.039811072,5.530406,0.225693,4.468394,4.450638,10.033252,10.503690
min,3.022990e+05,1.000000,0.000000,2013-01-04 00:00:00,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
25%,1.702470e+07,5.000000,5.000000,2022-01-26 00:00:00,3.000000,0.000000,4.300000,4.300000,0.000000,0.000000
50%,4.358893e+07,22.000000,20.000000,2022-11-21 00:00:00,5.000000,0.000000,4.600000,4.500000,1.000000,1.000000
75%,8.010901e+07,89.000000,86.000000,2023-06-25 00:00:00,7.000000,0.000000,4.800000,4.800000,4.000000,4.000000
max,1.488241e+08,117175.000000,123809.000000,2023-11-30 00:00:00,45.000000,1.000000,5.000000,5.000000,5095.000000,5702.000000
std,3.785320e+07,1625.949740,1633.056026,NaN,4.020511,0.418040,0.531362,0.536275,70.545133,75.650842

In [ ]:
# Количество уникальных товарных позиций
products['SKU'].nunique()

In [11]:
# Количество уникальных брендов
products['Бренд'].nunique()

1000

In [12]:
# Количество уникальных категорий
products['Категория'].nunique()

17

In [13]:
# Количество уникальных стран-производителей
products['Страна'].nunique()

53

#### Выводы

Данные корректны, значимых выбросов и пропусков нет. Пропуски по рейтингу за ноябрь учтены в дашборде. Дальнейшая подготовка данных (join таблиц, изменение типов данных, агрегация и т.д.) происходят на стороне BI системы.